header {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: #AC2B37; 
    font-size: 25px;padding:3px;
   }

div {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: rgb(26, 17, 160); 
    font-size: 18px;
}

h1 {
    font-family: Futura, Trebuchet MS;
    font-weight: bold condensed;
    color: rgb(126, 6, 6); 
    font-size: 18px;padding:3px;
}

p {
    padding:3px;
}

#content {
    padding:3px;
}

#orderedBike{
    background: #ee5c5c;
    margin-right: 30%;
}

#WPI{
    display: block; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

nav li:active {
    background-color: #ccc;
    background-image: none;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
  }


  footer{
    padding: 12px;
    border-radius: 10px;
  }

  
#contentSource {
    /* add your style definitions here */
    border: #ff0000;
    border-style: solid;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    border-radius: 15%;
    /* transitions applied to the video element */
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

button.back {
    /*These lines override the previous styling of buttons*/
    -webkit-border-image: url("greyButton.png") 0 14 0 14 stretch;
    width:60px;
    height: 30px;
     
    /*These lines position the back button inside the header*/
    position:absolute;
    left:16px;
    top:8px;
    }

    header.secondary{   
        padding-left: 75px;
        }


        button {
            /*center the button*/
           display: block;
           margin-left: auto;
           margin-right: auto;
            
           /* add your code to set top and bottom margins */
            
           /*add an image to your button*/
           -webkit-border-image: url("orangeButton.png") 14 14 14 14 stretch;
           background-size: cover;
           
           /*set width and height for the button*/
           }













#main_nav ul {
	list-style: none;
	padding: 0;
	margin: 10px;
	font-weight: bold;
}
 
#main_nav ul li {
	background-color: #fff;
	border: 1px solid #999;
	color: #222;
	display: block;
	margin-bottom: -1px;
	padding: 12px 10px;
}
 
#main_nav ul li a{
	text-decoration: none;
  }
  
/* add traditional rounded corners to the navigation menu*/

#main_nav li:first-child{
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
 
#main_nav li:last-child{
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

video {
    /* add your style definitions here */
    border: #222;
    padding: 10%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5%;
    /* transitions applied to the video element */
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

button.back {
    /*These lines override the previous styling of buttons*/
    -webkit-border-image: url("greyButton.png") 0 14 0 14 stretch;
    width:60px;
    height: 30px;
     
    /*These lines position the back button inside the header*/
    position:absolute;
    left:16px;
    top:8px;
    }


    header.secondary{   
        padding-left: 75px;
        }